<h2>Registration page</h2>
<div class="row">
    <form class="form-check-inline float-start" asp-controller="Home" asp-action="Create" style="padding-right: 25px; width:400px">
        <input style="margin:5px 5px 5px 5px" name="name" type="text" class="form-control my-2 my-lg-0" placeholder="Name">
        <input style="margin:5px 5px 5px 5px" name="userName" type="text" class="form-control my-2 my-lg-0" placeholder="Username">
        <input style="margin:5px 5px 5px 5px" name="password" type="password" class="form-control my-2 my-lg-0" placeholder="Password">
        <button style="margin:5px 5px 5px 5px" class="btn btn-success my-2 my-lg-0 float-start" type="submit">Register</button>
    </form>

</div>
